@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------header*/
.nav-background{
    height: 80px;
}

.bg-light{
    background-image: linear-gradient(#B784A7, #78586E);
}

.navbar-brand{
    margin-left: 30px;
    font-size: 36px;
    text-transform: uppercase;
}

.nav-link{
    font-size: 18px;
    font-weight: 300;
}

/*--------------------------------------------------------Hero area*/

.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2),rgba(255,255,255,1)), url("../images/freelance-kok-kneed-deeg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic{
    position: absolute;
    left: 60%;
    top: 20px;
    z-index: 2;
    background-image:url("../images/freelance-kok-kim.png");
    border: 1px solid #000;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    position: relative;
    z-index: 100;
    padding: 0;
    text-transform: uppercase;
    margin-top: 40px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

/*--------------------------------------------------------Home*/


/*--------------------------------------------------------Footer*/
.footer-background{
    height: 60px;
    background-image: linear-gradient(rgba(183, 132, 167, 0),rgba(183, 132, 167, 1), rgba(120, 88, 110, 1));
}

.social-links{
    padding: 15px 20px 10px 5px;
}

.copyright{
    padding: 20px 5px 10px 40px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  font-size: 15px;
  color: #fafafa;
  border-radius: 50%;
  background: #8f8f8f;
  text-align: center;
  line-height: 7px;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin-right: 10px;
}

.social-links li a i:hover {
  background: #858ed6;
}

.social-links li a .youtube-logo:hover {
  background: #d84e17;
}

.social-links li a .facebook-logo:hover {
  background: #2441c0;
}

/*--------------------------------------------------------Home*/

@media screen and (min-width: 320px){
    .profile-pic{
    width: 100px;
    height: 100px;
    top: 40px;
    }
    .hero-text{
    font-size: 20px;
     }
    .hero-image{
    height: 200px;
    }
}

@media screen and (min-width: 720px){
    .profile-pic{
    width: 200px;
    height: 200px;
    }
    .hero-text{
    font-size: 30px;
    }
    .hero-image{
    height: 250px;
    }
}

@media screen and (max-width: 540px){
    .navbar-brand{
    font-size: 20px;
    }
    .nav-background{
    height: 35px;
    }
}

@media screen and (min-width: 992px){
    .profile-pic{
    width: 260px;
    height: 260px;
    }
    .hero-text{
    font-size: 40px;
    }
    .hero-image{
    height: 300px;
    }
}